# ==============================
# Python Virtual Environment
# ==============================
.venv/
venv/
env/
ENV/
ser_project/.venv/
ser_project/venv/

# ==============================
# Python Cache
# ==============================
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Dataset - Raw
# ==============================
data/raw/
ser_project/data/raw/

# ==============================
# Processed Dataset
# ==============================
data/processed/
ser_project/data/processed/
*.npy

# ==============================
# Trained Models
# ==============================
*.keras
*.h5
*.hdf5
*.pkl
*.pickle
*.joblib

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# PyCharm
# ==============================
.idea/

# ==============================
# Python Build Files
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Temporary Files
# ==============================
*.tmp
*.temp
*.swp
*.swo